<br>
<br>

<% if current_user.gigs.empty? %>
  You have not added any gigs. Click <a href="/gigs/new">here</a> to add one.
<% else %>
<h3>Here is a list of gigs you added:</h3>
<br>
<% current_user.gigs.each do |gig| %>
    <b><%= gig.bands %></b> - <%= gig.location %> | <%= gig.time %> on <%= gig.date.strftime("%m/%d/%Y") %>
        <% if gig.user && session[:user_id] == gig.user.id %>
          <a href="/gigs/<%=gig.id%>/edit">
            <button>Edit or Delete</button>
          </a>
    <% end %>
    <br>
    <br>
    <% end %>
  <% end %>
   <a href="/gigs/new">
      <button>Create New Gig</button>
    </a>