
<h4><%= current_user.name %></h4><br><br>
<h4><%= current_user.email %></h4><br><br>

<ol>
  <% current_user.gigs.each do |gigs| %>
  <li>
    <a href="/gigs/<%= gigs.id %>">
      <p><%= gigs.name %></p>
      </a>
      <p>Date: <%= gigs.date %> </p>
      <p>Added by: <%= current_user.name %> </p>
  </li>
  <% end %>
</ol>