
<h4><%= @user.name %></h4><br><br>
<h4><%= @user.email %></h4><br><br>

<ol>
  <% @user.gig.each do |gig| %>
  <li>
    <a href="/gigs/<%= gig.id %>">
      <p><%= gig.name %></p>
      </a>
      <p>Date: <%= gig.date %> </p>
      <p>Added by: <%= gig.user.name %> </p>
  </li>
  <% end %>
</ol>