<h1>Edit the <%= @gig.bands %> event:</h1>

<form method="post" action="/gigs/<%= @gig.id %>">
  <input type="hidden" name="_method" value="patch">

  <label for="bands">Artists</label>
  <input type="textarea" name="gig[bands]" id="bands" value="<%= @gig.bands %>"/>
<br>
  <label for="location">Location (Venue, City)</label>
  <input type="textarea" name="gig[location]" id="location" value="<%= @gig.location %>"/>
<br>
  <label for="date">Date</label>
  <input type="date" data-date-format="DD MM YYYY" name="gig[date]" id="date" value="<%= @gig.date %>"/>
<br>
  <label for="time">Time</label>
  <input type="text" name="gig[time]" id="time" value="<%= @gig.time %>"/>
<br>
  <input type="submit" value="Submit">
</form>

<form action="/gigs/<%= @gig.id %>" method="post">
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" value="Delete" />
</form>