<center><h1>Gigs</h1></center>

  <% @gigs.each do |gig| %>
    <b><%= gig.bands %></b> - <%= gig.location %> | <%= gig.time %> on <%= gig.date.strftime("%m/%d/%Y") %>
    <!-- limits editing to only the user that added the gig-->
    <% if gig.user && session[:user_id] == gig.user.id %><a href="/gigs/<%=gig.id%>/edit">Edit this gig</a>
    <% end %>
    <br>
  <% end %>
<br>
<br>
<p><a href="/gigs/new">Create a new gig</a></p>