<center><h1>Gigs</h1></center>
<br>
  <% @gigs.each do |gig| %>
    <a href="/gigs/<%=gig.id%>"><b><%= gig.bands %></b></a> - <%= gig.location %> | <%= gig.time %> --- <%= gig.date.strftime("%m/%d/%Y") %>
    <br>
    <br>
  <% end %>
<br>
<br>
<% if current_user %>
   <a href="/gigs/new">
      <button>Create New Gig</button>
   </a>
   <% end %>