<br>
<p>
<b>Artist Name:</b> <%= @gig.bands %>
<br>
<b>Venue:</b> <%= @gig.location%>
<br>
<b>Time:</b> <%= @gig.time %>
<br>
<b>Date:</b> <%= @gig.date.strftime("%m/%d/%Y") %></p>
<p>
    <% if @user.id == @gig.user_id %>
        <a href="/gigs/<%=@gig.id%>/edit">
            <button>Edit or Delete</button>
        </a>
    <% end %>
</p>