<br>
<h4>Hey <%= @user.name %>, here are the gigs you added:</h4><br>

<ol>
  <% @user.gigs.each do |gigs| %>
  <li>
    <a href="/gigs/<%= gigs.id %>">
      <p><%= gigs.bands %></a>
      <br>Date: <%= gigs.date %>
      <br>Time: <%= gigs.time%>
      <br>Location: <%= gigs.location%> </p>

  </li>
  <% end %>
</ol>