<br>
<h4>Hey <%= @user.name %>, here are the gigs you added:</h4><br>

  <% @user.gigs.each do |gigs| %>
    <a href="/gigs/<%= gigs.id %>">
      <p><%= gigs.bands %></a> <!--<a href="/gigs/<%=gig.id%>/edit">(edit this gig)</a>-->
      <br>Location: <%= gigs.location%> </p>
      <br>Date: <%= gigs.date.strftime("%m/%d/%Y") %>
      <br>Time: <%= gigs.time %>
  <% end %>