<br>
<h4>Hey <%= @user.name %>, here are the gigs you added:</h4><br>

  <% @user.gigs.each do |gigs| %>
    <a href="/gigs/<%= gigs.id %>">
      <p><%= gigs.bands %></a> 
      <br>Location: <%= gigs.location%>
      <br>Date: <%= gigs.date.strftime("%m/%d/%Y") %>
      <br>Time: <%= gigs.time %></p>
  <% end %>